#viewport {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #050505;
    /* pointer-events: none OLMAMALI! */
}

#camera {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    pointer-events: none; /* Kamera kendisi tıklamayı engellemeli ama çocukları (entities) engellememeli */
}

#entities-layer, #players-layer {
    pointer-events: auto; /* Notlar ve oyuncular tıklanabilir olmalı */
}

.entity {
    pointer-events: auto; /* Notların üzerine tıklanabilmeli */
    z-index: 10;
}
